<div ng-include src="'/static/neuchatel_study/partials/header.html'"></div>

<div class="content_box">

    <p style="margin: 0; font-size: 14pt; font-weight: bold;" data-i18n="_goodByeElection_"></p>

    <p data-i18n="_castThanks_"></p>

    <div class="conf_code_box">

        <div class="fin_code"><span data-i18n="_finalizationCodeHeading_"></span><br>
            <p></p>
            5753 1454 4782
        </div>
    </div>

    <p style="font-weight: bold" data-i18n="_finalizationCodeExplanation0_"></p>
    <p data-i18n="_finalizationCodeExplanation1_"></p>
    <p data-i18n="_castLogoutMessage_"></p>

    <button style="float: right" data-i18n="Zum Fragebogen" ng-click="finishButton()"></button>
</div>