<div ng-include src="'/static/neuchatel_study/partials/header.html'"></div>

<div class="content_box">

    <h2 style="margin: 0; text-align: center" data-i18n="_welcomeToElection_"></h2>

    <p style="font-size: 14pt; margin-top: 1em" data-i18n="_boothIntroduction_"></p>

    <p><span style="font-size: 14pt" data-i18n="_introductionStart0_"></span><span style="font-size: 14pt; font-weight: bold"
                                                                                   data-i18n="_startButton_"></span><span
            style="font-size: 14pt" data-i18n="_introductionStart1_"></span></p>

    <button style="float: right" data-i18n="_startButton_" ng-click="startButton()"></button>

</div>

