body {
    font-family: sans-serif;
    text-align: center;
    background-color: #ededed;
    color: #393f46;
}

.content {
    text-align: left;
    display: inline-block;
}

.login_form {
    text-align: left;
    display: inline-block;
    border: solid 1px #393f46;
    border-radius: 5px;
    padding: 1.5em;
    background-color: white;
}

button {
    margin: 1em auto;
    background-color: #66b266;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 0.5em;
}

button:hover {
    background-color: #5ba05b;
}

.login_button {
    width: 100%;
}

.content_box {
    text-align: left;
    display: inline-block;
    border: solid 1px #393f46;
    border-radius: 5px;
    padding: 1.5em;
    background-color: white;
    margin: 1em auto;
}

.audit_box {
    border: solid 1px #393f46;
    border-radius: 5px;
    display: inline-block;
    float: right;
}