body {
    font-family: sans-serif;
    text-align: center;
    background-color: #ededed;
}

.content {
    text-align: left;
    display: inline-block;
}

button {
    margin: 1em auto;
    background-color: #66b266;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 0.5em;
}

button:hover{
    background-color: #5ba05b;
}