#header {
    background-color: white;
    color: #393f46;
    padding-bottom: 1em;
    padding-top: 1em;
    margin: auto;
}

#header table td {
    border: 1px solid black;
    padding: 0.3em;
    width: 167px;
}

#header table td.active {
    font-weight: bold;
    background-color: #fc9;
}

#header table td.inactive {
    background-color: #ccc;
    color: #888;
}

#header table {
    border-collapse: collapse;
}

.progress {
    display: inline-block;
}

h2 {
    text-align: left;
    margin-left: 2em;
}