<div ng-include src="'/static/neuchatel/partials/header.html'"></div>

<div class="content_box">


    <p style="margin-top: 0; font-weight: bold" data-i18n="_confirmationMessage_"></p>
    <p data-i18n="_confirmationMessage1_"></p>
    <p><span data-i18n="_confirmationMessage2_"></span><span style="font-weight: bold"
                                                             data-i18n="_confirmVoteButton_"></span><span
            data-i18n="_confirmationMessage3_"></span></p>
    <div style="text-align: center">
        <p>
            <form class="login_form" method="post">
                <span data-i18n="_confirmationCode_"></span>
        <p></p>
        <input class="confirmation_key" maxlength="20" ng-model="confcode" data-format="4" id="init-code">

        <p></p>
        <move-next>
        <input name="confirmation_code0" type="text" ng-model="confcode0" class="confirmation_key" size="4"
               maxlength="4"> -
        <input name="confirmation_code1" type="text" ng-model="confcode1" class="confirmation_key" size="4"
               maxlength="4"> -
        <input name="confirmation_code2" type="text" ng-model="confcode2" class="confirmation_key" size="4"
               maxlength="4"> -
        <input name="confirmation_code3" type="text" ng-model="confcode3" class="confirmation_key" size="4"
               maxlength="4"> -
        <input name="confirmation_code4" type="text" ng-model="confcode4" class="confirmation_key" size="2"
               maxlength="2">
        </move-next>
        </form>
        </p>
    </div>
    <!--<p><span data-i18n="_confirmationMessage3_"></span><span style="font-weight: bold" data-i18n="_confirmationErrorButton_"></span></p>-->

    <div style="text-align: center">
        <!--<button style="float: left;" data-i18n="_confirmationErrorButton_" ng-click="gotoErrorButton('confirm')"></button>-->
        <button style="float: right;" data-i18n="_confirmVoteButton_" ng-click="confirmVoteButton()"></button>
    </div>
</div>