<div ng-include src="'/static/neuchatel/partials/voting_header.html'"></div>

<div class="content_box">

    <p style="margin: 0; font-size: 14pt; font-weight: bold;" data-i18n="_goodByeElection_"></p>

    <p data-i18n="_castThanks_"></p>

    <div class="fin_code_box">

        <img style="float: left;" src="/static/neuchatel/images/star_75.png">
        <div class="fin_code"><span data-i18n="_finalizationCodeHeading_"></span><br>
            <p></p>
            4109 3647 2181
        </div>
    </div>

    <p style="font-weight: bold" data-i18n="_finalizationCodeExplanation0_"></p>
    <p data-i18n="_finalizationCodeExplanation1_"></p>
    <p data-i18n="_castLogoutMessage_"></p>

    <button style="float: right" data-i18n="Zum Fragebogen" ng-click="finishButton()"></button>
</div>