<div ng-include src="'/static/neuchatel/partials/header.html'"></div>

<div class="content_box">

    <h2 style="margin: 0; text-align: center" data-i18n="_goodByeElection_"></h2>

    <p data-i18n="_castThanks_"></p>

    <div class="qr_box">
        <div class="check_code">
            <p data-i18n="_finalizationCodeHeading_"></p>
            4109-3647-2181-9
        </div>
    </div>

    <p style="font-weight: bold" data-i18n="_finalizationCodeExplanation0_"></p>
    <p data-i18n="_finalizationCodeExplanation1_"></p>
    <p data-i18n="_castLogoutMessage_"></p>
    <p style="margin: 0" data-i18n="_castclose_"></p>
</div>