<div ng-include src="'/static/neuchatel/partials/welcome_header.html'"></div>

<div class="content_box">
    <p><span data-i18n="_loginMessageTwo_"></span><span style="font-weight: bold" data-i18n="_loginButton_"></span><span
            data-i18n="_loginMessageThree_"></span></p>
    <div style="text-align: center">

        <form class="login_form" method="post">
            <span style="font-weight: bold" data-i18n="_loginUsername_"></span><br>
            <input class="init_key" name="id" type="text" ng-model="userid"><br>
            <p></p>
            <span style="font-weight: bold" data-i18n="_loginPassword_"></span><br>
            <input class="year" name="password" type="password" ng-model="userpass" size="4" maxlength="4"><br>
        </form>

    </div>

    <div style="margin-top: 2em">
        <button style="float: right;" data-i18n="_loginButton_" ng-click="loginButton()"></button>
        <button style="float: left;" data-i18n="_introductionButton_" ng-click="backToIntroductionButton()"></button>
    </div>

</div>