<div ng-include src="'/static/neuchatel/partials/voting_header.html'"></div>

<div class="content_box">

    <p data-i18n="_reviewPlainExplanation_">

    <div class="review_box">
        <div class="review">
            <p class="ballot_question">Erststimme: {{ experimentData.question_data.question_one }}</p>
            <span>Ihre Auswahl: </span><span style="font-weight: bold;">{{ choice_one }}</span>

        </div>
    </div>

    <div class="review_box">
        <div class="review">
            <p class="ballot_question">Zweitstimme: {{ experimentData.question_data.question }}</p>
            <span>Ihre Auswahl: </span><span style="font-weight: bold;">{{ choice }}</span>
        </div>
    </div>

    <p><!--<span data-i18n="_reviewPlainExplanation0_"></span><span style="font-weight: bold"
                                                                data-i18n="_editResponsesButton_"></span>--><span
            data-i18n="_reviewPlainExplanation1_"></span><span style="font-weight: bold"
                                                               data-i18n="_encryptVoteButton_"></span><span
            data-i18n="_reviewPlainExplanation2_"></span></p>

    <div style="text-align: center">

        <button style="float: left;" data-i18n="_editResponsesButton_" ng-click="backToElectionButton()"></button>

        <button style="float: right;" data-i18n="_encryptVoteButton_" ng-click="encryptVoteButton()"></button>
    </div>
</div>