<div ng-include src="'/static/neuchatel/partials/header.html'"></div>

<div class="content_box">


    <div class="qr_box">
        <div class="check_code"><p data-i18n="_reviewPlainHeading_"></p>
            <p style="font-weight: bold; font-size: 12pt">Erststimme: {{ choice_one }}</p>
            <p style="font-weight: bold; font-size: 12pt">Zweitstimme: {{ choice }}</p>
        </div>
    </div>

    <p><span data-i18n="_reviewPlainExplanation_"></span></p>

    <p><span data-i18n="_reviewPlainExplanation0_"></span><span style="font-weight: bold"
                                                                data-i18n="_editResponsesButton_"></span><span
            data-i18n="_reviewPlainExplanation1_"></span><span style="font-weight: bold"
                                                               data-i18n="_encryptVoteButton_"></span><span
            data-i18n="_reviewPlainExplanation2_"></span></p>

    <div style="text-align: center">

        <button style="float: left;" data-i18n="_editResponsesButton_" ng-click="backToElectionButton()"></button>

        <button style="float: right;" data-i18n="_encryptVoteButton_" ng-click="encryptVoteButton()"></button>
    </div>
</div>