<div ng-include src="'/static/neuchatel/partials/header.html'"></div>

<div class="content_box">


    <div class="qr_box">
        <div class="check_code"><p data-i18n="_reviewBallotHeading_"></p>
            <!--<p style="font-weight: bold">{{ ballot_tracker }}</p>-->
            <!--<qrcode version="11" error-correction-level="H" size="200" data="{{ ballot_tracker }}"></qrcode>-->
            <!--<br>-->
            <!--<div style="font-size: 8pt; font-weight: normal; margin: 1em 0;" data-i18n="_qrExplanation_"></div>-->
        </div>
    </div>

    <div style="line-height: 2em; margin-top: 2em">
        <p><span data-i18n="_reviewBallotExplanation0-0_"></span>
            <span style="margin-top: 0; font-weight: bold"
                  data-i18n="_editResponsesButton_"></span><span data-i18n="_reviewBallotExplanation0-1_"></span>
            <br>
            <span data-i18n="_reviewBallotExplanation0-2_"></span><span style="margin-top: 0; font-weight: bold"
                                                                        data-i18n="_submitVoteButton_"></span><span
                    data-i18n="_reviewBallotExplanation0-3_"></span>
            <br>
            <span data-i18n="_reviewBallotExplanation1_"></span></p></div>

    <div style="text-align: center">

        <button style="float: left;" data-i18n="_editResponsesButton_" ng-click="backToElectionButton()"></button>

        <!--<button data-i18n="_verifyButton_" ng-click="verifyButton()"></button>-->

        <button style="float: right;" data-i18n="_submitVoteButton_" ng-click="submitVoteButton()"></button>
    </div>
</div>