<div class="question_box">


<table class="striped-columns border">
          <tr>
            <td></td>
            <td>Ich stimme gar nicht zu</td>
            <td></td>
            <td></td>
            <td></td>
            <td>Ich stimme voll zu</td>
        </tr>

        <tr>
            <td>Frage</td>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
        </tr>
        <tr>
            <td style="width: 100px;">Ich denke, dass ich das System gerne häufig benutzen würde.</td>
            <td><input type="radio" value="1" name="enthusiasm"/></td>
            <td><input type="radio" value="2" name="enthusiasm"/></td>
            <td><input type="radio" value="3" name="enthusiasm"/></td>
            <td><input type="radio" value="4" name="enthusiasm"/></td>
            <td><input type="radio" value="5" name="enthusiasm"/></td>
        </tr>
        <tr>
            <td>Ich fand das System unnötig komplex.</td>
            <td><input type="radio" value="1" name="knowledgeable"/></td>
            <td><input type="radio" value="2" name="knowledgeable"/></td>
            <td><input type="radio" value="3" name="knowledgeable"/></td>
            <td><input type="radio" value="4" name="knowledgeable"/></td>
            <td><input type="radio" value="5" name="knowledgeable"/></td>
        </tr>
        <tr>
            <td>Ich fand das System einfach zu benutzen.</td>
            <td><input type="radio" value="1" name="timeliness"/></td>
            <td><input type="radio" value="2" name="timeliness"/></td>
            <td><input type="radio" value="3" name="timeliness"/></td>
            <td><input type="radio" value="4" name="timeliness"/></td>
            <td><input type="radio" value="5" name="timeliness"/></td>
        </tr>
        <tr>
            <td>Ich glaube ich würde Hilfe einer technisch versierten Person benötigen, um das System benutzen zu können.
</td>
            <td><input type="radio" value="1" name="helpful"/></td>
            <td><input type="radio" value="2" name="helpful"/></td>
            <td><input type="radio" value="3" name="helpful"/></td>
            <td><input type="radio" value="4" name="helpful"/></td>
            <td><input type="radio" value="5" name="helpful"/></td>
        </tr>
       <tr>
            <td>Ich fand, die verschiedenen Funktionen in diesem System waren gut integriert.
</td>
            <td><input type="radio" value="1" name="timeliness"/></td>
            <td><input type="radio" value="2" name="timeliness"/></td>
            <td><input type="radio" value="3" name="timeliness"/></td>
            <td><input type="radio" value="4" name="timeliness"/></td>
            <td><input type="radio" value="5" name="timeliness"/></td>
        </tr>
       <tr>
            <td> Ich denke, das System enthielt zu viele Inkonsistenzen.</td>
            <td><input type="radio" value="1" name="timeliness"/></td>
            <td><input type="radio" value="2" name="timeliness"/></td>
            <td><input type="radio" value="3" name="timeliness"/></td>
            <td><input type="radio" value="4" name="timeliness"/></td>
            <td><input type="radio" value="5" name="timeliness"/></td>
        </tr>
       <tr>
            <td>Ich kann mir vorstellen, dass die meisten Menschen den Umgang mit
diesem System sehr schnell lernen.</td>
            <td><input type="radio" value="1" name="timeliness"/></td>
            <td><input type="radio" value="2" name="timeliness"/></td>
            <td><input type="radio" value="3" name="timeliness"/></td>
            <td><input type="radio" value="4" name="timeliness"/></td>
            <td><input type="radio" value="5" name="timeliness"/></td>
        </tr>
       <tr>
            <td>Ich fand das System sehr umständlich zu nutzen.</td>
            <td><input type="radio" value="1" name="timeliness"/></td>
            <td><input type="radio" value="2" name="timeliness"/></td>
            <td><input type="radio" value="3" name="timeliness"/></td>
            <td><input type="radio" value="4" name="timeliness"/></td>
            <td><input type="radio" value="5" name="timeliness"/></td>
        </tr>
       <tr>
            <td>Ich fühle mich bei der Benutzung des Systems sehr sicher.</td>
            <td><input type="radio" value="1" name="timeliness"/></td>
            <td><input type="radio" value="2" name="timeliness"/></td>
            <td><input type="radio" value="3" name="timeliness"/></td>
            <td><input type="radio" value="4" name="timeliness"/></td>
            <td><input type="radio" value="5" name="timeliness"/></td>
        </tr>
       <tr>
            <td>Ich musste eine Menge lernen bevor ich anfangen konnte, das System zu benutzen.
</td>
            <td><input type="radio" value="1" name="timeliness"/></td>
            <td><input type="radio" value="2" name="timeliness"/></td>
            <td><input type="radio" value="3" name="timeliness"/></td>
            <td><input type="radio" value="4" name="timeliness"/></td>
            <td><input type="radio" value="5" name="timeliness"/></td>
        </tr>
</table></div>