<div style="background-color: #ededed; height: 32px"></div>

<div id="header" ng-controller="electionCtrl">

    <div style="text-align: left; margin-left: 4em">

        <img ng-src="/static/neuchatel/images/logo_header.png">

        {{ HEADLINE }}

    </div>


    <div class="progress" ng-show="show_progress">
        <table>
            <tr>
                <td id="progress_2" ng-class="{true: 'active', false: 'inactive'}[current_step == 2]">
                    <span data-i18n="_selectWizard_"></span></td>
                <td id="progress_3" ng-class="{true: 'active', false: 'inactive'}[current_step == 3]">
                    <span data-i18n="_submitWizard_"></span></td>
                <td id="progress_4" ng-class="{true: 'active', false: 'inactive'}[current_step == 4]">
                    <span data-i18n="_verifyWizard_"></span></td>
                <td id="progress_6" ng-class="{true: 'active', false: 'inactive'}[current_step == 5]">
                    <span data-i18n="_castWizard_"></span></td>
            </tr>
            <tr>
                <td id="progress_2" ng-class="{true: 'active', false: 'inactive'}[current_step == 2]">
                    <img ng-src="/static/neuchatel/images/one.png" ng-show="current_step < 3">
                    <img ng-src="/static/neuchatel/images/done.png" ng-show="current_step > 2">
                </td>

                <td id="progress_3" ng-class="{true: 'active', false: 'inactive'}[current_step == 3]">
                    <img ng-src="/static/neuchatel/images/two.png" ng-show="current_step < 4">
                    <img ng-src="/static/neuchatel/images/done.png" ng-show="current_step > 3">
                </td>
                <td id="progress_4" ng-class="{true: 'active', false: 'inactive'}[current_step == 4]">
                    <img ng-src="/static/neuchatel/images/three.png" ng-show="current_step < 5">
                    <img ng-src="/static/neuchatel/images/done.png" ng-show="current_step > 4">
                </td>
                <td id="progress_6" ng-class="{true: 'active', false: 'inactive'}[current_step == 5]">
                    <img ng-src="/static/neuchatel/images/four.png" ng-show="current_step < 5">
                    <img ng-src="/static/neuchatel/images/done.png" ng-show="current_step > 4">
                </td>
            </tr>
        </table>
    </div>

</div>