body {
    font-family: sans-serif;
    text-align: center;
    background-color: #ededed;
    color: #393f46;
}

fieldset {
     margin: 1em auto;
}

.content {
    padding: 30px 29px;
}

.welcome_text {
    text-align: left;
    display: inline-block;
    border: solid 1px #393f46;
    border-radius: 5px;
    padding: 1.5em;
    background-color: white;
    margin: 1em auto;
}

.login_form {
    text-align: left;
    display: inline-block;
    border: solid 1px #393f46;
    border-radius: 5px;
    padding: 1.5em;
    background-color: white;
}

button {
    margin: 1em auto;
    width: 100%;
    background-color: #66b266;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 0.5em;
}

button:hover{
    background-color: #5ba05b;
}