{% load i18n %}
<div>

    <h2 style="text-align: center;">{% trans "Welcome" %}</h2>

    <form method="post" action="/login">
        ID:<br>
        <input type="text"><br>
        Token:<br>
        <input type="text"><br>

        <fieldset>
            <legend>Select language</legend><br>
            <input type="radio" name="language" value="german"/><label>German</label><br>
            <input type="radio" name="language" value="english"/><label>English</label>
        </fieldset>

        <button>{% trans "Login" %}</button>
    </form>


</div>