<!DOCTYPE html>
{% load staticfiles %}

<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Helios Voting</title>
    <link rel="stylesheet" href="{% static 'helios_usabilitystudy/style.css' %}" type="text/css"/>
</head>
<body>
<div>

    <div class="content">

        <h2 style="text-align: center;">Willkommen zur Studie</h2>

        <div class="welcome_text">Dieser Login ist noch kein Teil der Studie,
            erst danach geht es wirklich los.<br><br>
            Bitte loggen Sie sich mit den erhaltenen Zugangsdaten ein.
        </div>

        <br>

        <form class="login_form" method="post" action="/login">
            {% csrf_token %}
            ID:<br>
            <input name="id" type="text"><br>
            {{ error_id }}
            Passwort:<br>
            <input name="password" type="password"><br>
            {{ error_pw }}
            <!--<fieldset>
                <legend>Sprachauswahl</legend>
                <br/>
                <input type="radio" name="language" id="german" value="german"/>
                <label for="german">Deutsch</label><br/>
                <input type="radio" name="language" id="english" value="english" checked="checked"/>
                <label for="english">Englisch</label><br/>
            </fieldset>-->

            <br>

            {{ error }}

            <br>

            <button>Einloggen</button>
        </form>


    </div>
</div>
</body>
</html>