<!DOCTYPE html>
{% load staticfiles %}

<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Helios Voting</title>
    <link rel="stylesheet" href="{% static 'helios_usabilitystudy/style.css' %}" type="text/css"/>
</head>
<body>
<div>

    <div class="content">

        <h2 style="text-align: center;">Welcome to our study</h2>

        <div class="welcome_text">This login is no part of the study.
            The study will start after a successful login.
            <br><br>
            Please, login with the credentials from the examiner.
        </div>

        <br>

       <form class="login_form" method="post" action="/login">
            {% csrf_token %}
            ID:<br>
            <input name="id" type="text"><br>
            Password:<br>
            <input name="password" type="password"><br>

             <!--<fieldset>
                <legend>Select language</legend>
                <br/>
                <input type="radio" name="language" id="german" value="german"/>
                <label for="german">German</label><br/>
                <input type="radio" name="language" id="english" value="english" checked="checked"/>
                <label for="english">English</label><br/>
            </fieldset>-->

            <br>

            <button>Login</button>
        </form>


    </div>
</div>
</body>
</html>