{% load i18n %}
<div>

    <h2 style="text-align: center;">{% trans "Welcome" %}</h2>

    <form method="post" action="/login">
        {% csrf_token %}
        ID:<br>
        <input name="id" type="text"><br>
        Password:<br>
        <input name="password" type="password"><br>

        <fieldset>
            <legend>Select language</legend><br />
            <input type="radio" name="language" id="german" value="german" />
            <label for="german">{% trans "German" %}</label><br />
            <input type="radio" name="language" id="english" value="english" checked="checked" />
            <label for="english">{% trans "English" %}</label><br />
        </fieldset>

        <button>{% trans "Login" %}</button>
    </form>


</div>