<div ng-include src="'/static/helios_institutes/partials/header.html'"></div>

<div class="content_box">

    <h3 data-i18n="_afterAuditHeading_"></h3>

    <span data-i18n="_afterAuditExplanation_"></span><br>

    <span data-i18n="_afterAuditExplanationTwo_"></span><br>

    <span data-i18n="_afterAuditExplanationThree_"></span><br>

    <span data-i18n="_afterAuditExplanationFour_"></span><br>

    <button data-i18n="_afterAuditBallot_"
            ng-click="backToElectionButton()"></button>

    <button data-i18n="_afterAuditReEncrypt_"
            ng-click="reEncryptButton()"></button>

</div>