<div ng-include src="'/static/helios_institutes/partials/header.html'"></div>

<div class="content_box" style="max-width: 600px">

    <h3 style="margin-top: 0" data-i18n="_afterAuditHeading_"></h3>

    <div style="line-height: 2em">

        <span data-i18n="_afterAuditExplanation_"></span><br>

        <span style="margin-top: 1em" data-i18n="_afterAuditExplanationThree_"></span>
        <br>
    </div>
    <button style="float: right; margin-top: 1em" data-i18n="_afterAuditBallot_"
            ng-click="auditToElectionButton()"></button>

</div>