<div ng-include src="'/static/helios_institutes/partials/header.html'"></div>

<div class="content">

    <div class="content_box">

        <span style="font-weight: bold"
              class="ballot_question"> {{ experimentData.question_data.question }}</span><br/>

        <span class="ballot_number">You can select {{ experimentData.question_data.answers }} candidate(s) (or invalid vote).</span>

        <table id="fixed_height" class="ballot">
            <tr ng-repeat="(code, option) in options">

                <td class="ballot">
                    <button class="vote_button_inactive" ng-src="/static/helios_institutes/images/button_inactive.png"
                            ng-click="saveChoice(code, option.option)"></button>
                </td>
                <td class="ballot">{{ option.option }} </td>
                <td class="ballot" style="max-width: 250px;"><span
                        style="font-size: 8pt; font-weight: bold">{{ option.option_description }}</span></td>
                <td style="text-align: right" class="ballot">{{ code-0 }}</td>
            </tr>
            <tr>
                <td class="ballot">
                    <button class="vote_button_inactive" ng-src="/static/helios_institutes/images/button_inactive.png"
                            ng-click="saveChoice('00', 'Invalid Vote')"></button>
                </td>

                <td class="ballot"> Invalid Vote</td>
                <td class="ballot"></td>
                <td class="ballot"></td>
            </tr>
        </table>

        <button style="float: right; margin-top: 1em;" data-i18n="_proceedButton_"
                ng-click="proceedButton()"></button>


    </div>
</div>