<div ng-include src="'/static/helios_institutes/partials/header.html'"></div>

<div class="content">

    <div class="content_box">

        <span style="font-weight: bold"
              class="ballot_question">Question: {{ experimentData.question_data.question }}</span><br/>

        <span class="ballot_number">You can select {{ experimentData.question_data.answers }} candidate(s) (or invalid vote).</span>

            <table class="ballot">
                <tr ng-repeat="(code, option) in options">

                    <td class="ballot"><input type="checkbox" ng-click="saveChoice(code, option)"></td>
                    <td class="ballot"><label>{{ option }} </label></td>
                    <td class="ballot">{{ code }}</td>
                </tr>
            </table>

        <button style="float: right; margin-top: 1em;" data-i18n="_proceedButton_"
                ng-click="proceedButton()"></button>


    </div>
</div>