<div ng-include src="'/static/helios_institutes/partials/header.html'"></div>

<div class="content_box" style="text-align: center">

    <h3 style="margin-top: 0" data-i18n="_redirectHeading_"></h3>

    <table class="verification_institute">

        <tr style="margin: 1em">
            <td>
                <img ng-src="/static/helios_main/images/osze_logo.png" ng-click="redirectToInstituteOszeButton()"></td>
            <td>
                <span data-i18n="_verifyOSZE_" ng-click="redirectToInstituteOszeButton()"></span>
                <img ng-src="/static/helios_main/images/info_icon.png"
                     title="Die Organisation für Sicherheit und Zusammenarbeit in Europa ist eine verstetigte Staatenkonferenz zur Friedenssicherung.">
                <br><br>
                <form ng-submit="redirectToInstituteOszeButton()" target="_blank" method="post"
                      action="https://wahlueberpruefung.osze.de:8080/verifier_two">
                    <input name="vote" type="hidden" ng-value="vote">
                    <input name="tracker" type="hidden" ng-value="ballot_tracker">
                    <button class="institute_button" type="submit" data-i18n="_verifyStart_"></button>
                </form>
            </td>
        </tr>

        <tr style="height: 1em"></tr>
        <tr>
            <td colspan="2" style="border-top: 1px solid #d3d3d3;"></td>
        </tr>
        <tr style="height: 1em"></tr>
        <tr style="margin: 1em;">
            <td>
                <img ng-src="/static/helios_main/images/bsi_logo.png" ng-click="redirectToInstituteBsiButton()"></td>
            <td>
                <span data-i18n="_verifyBSI_" ng-click="redirectToInstituteOszeButton()"></span>
                <img ng-src="/static/helios_main/images/info_icon.png"
                     title="Das Bundesamt für Sicherheit in der Informationstechnik (BSI) ist eine in der Bundesstadt Bonn ansässige zivile obere Bundesbehörde im Geschäftsbereich des Bundesministeriums des Innern, die für Fragen der IT-Sicherheit zuständig ist.">
                <br><br>
                <form ng-submit="redirectToInstituteBsiButton()" target="_blank" method="post"
                      action="https://wahlueberpruefung.bsi.de:8080/verifier_one">
                    <input name="vote" type="hidden" ng-value="vote">
                    <input name="tracker" type="hidden" ng-value="ballot_tracker">
                    <button class="institute_button" type="submit" data-i18n="_verifyStart_"></button>
                </form>
            </td>
        </tr>

    </table>

    <button data-i18n="_backToReviewButton_"
            ng-click="backToReviewButton()"></button>

</div>