<div ng-include src="'/static/helios_institutes/partials/header.html'"></div>

<div class="content_box">

    <h3 data-i18n="_welcomeToElection_"></h3>

    <p data-i18n="_boothIntroduction_">
    <p>

    <ol>
        <li style="font-size: 14pt;" data-i18n="_firstMoreInfo_"></li>


        <li style="font-size: 14pt; margin-top: 1em;" data-i18n="_secondMoreInfo_"></li>


        <li style="font-size: 14pt; margin-top: 1em;" data-i18n="_thirdMoreInfo_"></li>
    </ol>

    <div data-i18n="_introductionStart_"></div>

    <button style="float: right" data-i18n="_startButton_" ng-click="startButton()"></button>

</div>
