<div ng-include src="'/static/helios_institutes/partials/header.html'"></div>

<div class="content_box">

    <p style="margin-top: 0; " data-i18n="_reviewBallotDescription_"></p>
    <div style="margin-left: 50%; width: 0; overflow: visible">
        <div class="qr_box">
            <div class="check_code"><span data-i18n="_reviewBallotCheckCodeHeading_"></span><span
                    style="font-weight: bold"> {{ ballot_tracker }}</span></div>
        </div>
    </div>

    <p data-i18n="_reviewBallotCheckCodeExplanation_"></p>

    <p data-i18n="_reviewBallotVerificationExplanation_"></p>

    <div style="text-align: center">

        <button style="float: left;" data-i18n="_editResponsesButton_" ng-click="backToElectionButton()"></button>

        <button data-i18n="_verifyButton_" ng-click="verifyButton()"></button>

        <button style="float: right;" data-i18n="_submitVoteButton_" ng-click="submitVoteButton()"></button>
    </div>
</div>
