<div class="content_box">

    <p data-i18n="_reviewBallotDescription_"></p>
    <p data-i18n="_reviewBallotCheckCodeHeading_"><b> {{ ballot_tracker }}</b></p>
    <p data-i18n="_reviewBallotCheckCodeExplanation_"></p>

    <p data-i18n="_reviewBallotVerificationExplanation_"></p>

        <button style="float: left;" data-i18n="_editResponsesButton_" ng-click="backToElectionButton()"></button>

        <button data-i18n="_verifyButton_" ng-click="verifyButton()"></button>

        <button style="float: right;" data-i18n="_submitVoteButton_" ng-click="submitVoteButton()"></button>

</div>
