.question_box {
    margin: 2em auto 3em auto;
    border: 3px solid #22505f;
    padding: 2em;
    border-radius: 5px;
    max-width: 1000px;
}

.left-box {
    text-align: left;
}

td .sus{
    padding: 1em;
}

td .item_clicked {
    background-color: dimgrey;
}

.text-left {
			text-align: left;
		}

		.text-center {
			text-align: center;
			font-weight: bold;
			color: #ccc;
		}

		.text-right {
			text-align: right;
		}

		.scale {
			width:  100%;
			margin-bottom: 5px;
			border: 2px solid #333;
			background-color: #fff;
			border-collapse: collapse;
		}

		.scale td {
			height: 18px;
		}

		.scale .tick{
			border-right: 2px solid #333;
		}

		.highlighted {
			background-color: #ccc;
		}

		.selected {
			background-color: #f00;
		}