<h3 data-i18n="_auditedBallotHeading_"></h3>

<p>
<b><u>IMPORTANT</u></b>: this ballot, now that it has been audited, <em>will not be tallied</em>.<br />
To cast a ballot, you must click the "Back to Voting" button below, re-encrypt it, and choose "cast" instead of "audit."
</p>

<p>
<b>Why?</b> Helios prevents you from auditing and casting the same ballot to provide you with some protection against coercion.
</p>

<p>
<b>Now what?</b> Select your ballot audit info, copy it to your clipboard, then use the ballot verifier to verify it.<br />
Once you're satisfied, click the "back to voting" button to re-encrypt and cast your ballot.
</p>

<form action="#">
<br /><br />
Before going back to voting,<br />
you can post this audited ballot to the Helios tracking center so that others might double-check the verification of this ballot.
<br /><br />
<b>Even if you post your audited ballot, you must go back to voting and choose "cast" if you want your vote to count.</b>
<br /><br />
<input type="button" data-i18n="_trackingCenterButton_"  />
&nbsp;&nbsp; &nbsp;
<input type="button" data-i18n="_backToVotingButton_" />
</form>