<h3>Your audited ballot</h3>

IMPORTANT: this ballot, now that it has been audited, will not be tallied.<br>
To cast a ballot, you must click the "Back to Voting" button below, re-encrypt it, and choose "cast" instead of "audit."<br>
<br>
Why? Helios prevents you from auditing and casting the same ballot to provide you with some protection against coercion.<br>
<br>
Now what? Select your ballot audit info, copy it to your clipboard, then use the ballot verifier to verify it.<br>
Once you're satisfied, click the "back to voting" button to re-encrypt and cast your ballot.<br>
<br>
<textarea></textarea> <br>
<br>

<button ng-click="backToVotingButton()">Back to voting</button>