<div class="content">

    <div class="content_box">

        <h3>Your audited ballot</h3>

        IMPORTANT: this ballot, now that it has been audited, will not be tallied.<br>
        To cast a ballot, you must click the "Back to Voting" button below, re-encrypt it, and choose "cast" instead of
        "audit."<br>
        <br>
        Why? Helios prevents you from auditing and casting the same ballot to provide you with some protection against
        coercion.<br>
        <br>
        Now what? <a onclick="" href="">Select your ballot audit info</a>, copy it to your clipboard, then use the <a
            href="http://127.0.0.1:8080/" target="_blank">ballot verifier</a> to verify it.<br>
        Once you're satisfied, click the "back to voting" button to re-encrypt and cast your ballot.<br>
        <br>
        <textarea name="auditDataTextArea" ng-model="auditData" rows="10" cols="63"></textarea> <br>
        <br>

        <button ng-click="backToVotingButton()">Back to voting</button>
    </div>
</div>