<div ng-include src="'/static/helios_main/partials/header.html'"></div>


<div class="content_box">

    <form>

        <b><span class="ballot_question booth_heading">{{ experimentData.question_data.question }}</span></b><br/>

        <span data-i18n="_outOf_"
              class="ballot_number booth_miniheading"> {{ experimentData.question_data.answers }}</span>

        <table id="fixed_height" class="ballot">
            <tr ng-repeat="(code, option) in options">

                <td class="ballot">
                    <button
                            ng-class="{true: 'vote_button_active', false: 'vote_button_inactive'}[selected_choice == code]"
                            ng-click="saveChoice(code, option.option)"></button>
                </td>
                <td class="ballot">{{ option.option }} </td>
                <td class="ballot" style="max-width: 250px;"><span
                        style="font-size: 8pt; font-weight: bold">{{ option.option_description }}</span></td>
                <td style="text-align: right" class="ballot">{{ code-0 }}</td>
            </tr>
            <tr>
                <td class="ballot">
                    <button ng-class="{true: 'vote_button_active', false: 'vote_button_inactive'}[selected_choice == code]"
                            ng-click="saveChoiceInvalid('Invalid Vote')"></button>
                </td>

                <td class="ballot"> Invalid Vote</td>
                <td class="ballot"></td>
                <td class="ballot"></td>
            </tr>
        </table>

        <button style="float: right" data-i18n="_proceedButton_" ng-click="proceedButton()"></button>

    </form>
</div>
</div>