<div ng-include src="'/static/helios_main/partials/header.html'"></div>


<div class="content_box">

    <form>

        <b><span class="ballot_question booth_heading">{{ experimentData.question_data.question }}</span></b><br/>

        <span data-i18n="_outOf_"
              class="ballot_number booth_miniheading"> {{ experimentData.question_data.answers }}</span>

        <div style="margin-top: 2em;">
            <div ng-repeat="(code, option) in options">

                <input type="checkbox" ng-click="saveChoice(code, option)">
                <label>{{ option }} </label>
                <hr/>
            </div>
        </div>
            <button style="float: right" data-i18n="_proceedButton_" ng-click="proceedButton()"></button>

    </form>
</div>
</div>