<div id="page">
  <div id="progress_div" style="display:none; width: 500px; margin:auto;">
      <table width="100%">
          <tr><td id="progress_1">(1) Select</td><td id="progress_2">(2) Review</td><td id="progress_3">(3) Submit</td></tr>
      </table>
  </div>
  <div id="election_div" class="panel">
    <h3>Checking capabilities and loading election booth...</h3>
    <div align="center"><img src="loading.gif" /><br />This may take up to 10 seconds</div>
  </div>

  <div id="error_div" class="panel" style="display: none;">
    <h3>There's a problem</h3>
    <p>
      It appears that your browser does not have Java enabled. Helios needs Java to perform encryption within the browser.
    </p>
    <p>
      You may be able to install Java by visiting <a target="_new" href="http://java.com">java.com</a>.
    </p>
  </div>

  <div id="question_div" class="panel">
  </div>

  <div id="processing_div" class="panel" style="display:none;">
      <h3 align="center">Processing....</h3>
  </div>

  <div id="encrypting_div" class="panel" style="display:none;">
      <h3 align="center">Helios is now encrypting your ballot<br />
          <img src="encrypting.gif" /> <span style="font-size:0.7em; display:none;" id="percent_done_container">(<span id="percent_done">0</span>%)</span></h3>

      <p align="center"><b>This may take up to two minutes.</b>
  </div>

  <div id="seal_div" class="panel">
  </div>

  <div id="audit_div" class="panel">
  </div>

</div>

<br clear="both" />
</div>
<div id="footer">&nbsp;</div>
</div>
<div id="applet_div">
</div>