<div class="content">

    <span data-i18n="_submitVoteHeading_"></span>

    <span data-i18n="_loginCastHint_"></span>

    <form method="post" action="/login">
        ID:<br>
        <input name="id" type="text"><br>
        Password:<br>
        <input name="password" type="password"><br>
    </form>

    <div align="center">
        <button data-i18n="_loginButton_" ng-click="loginCastButton()"></button>
    </div>

    <span data-i18n="_loginCastVoteHint_"></span>
    <span data-i18n="_loginCastBallotTracker_"></span>

</div>