<div ng-include src="'/static/helios_main/partials/header.html'"></div>

<div class="content">

    <span data-i18n="_submitVoteHeading_"></span><br>

    <span data-i18n="_loginCastHint_"></span><br>

    <form class="login_form">
        ID:<br>
        <input name="id" type="text"><br>
        Password:<br>
        <input name="password" type="password"><br>
         <button class="login_button" data-i18n="_loginButton_" ng-click="loginCastButton()"></button>
    </form>

    <br>

    <span data-i18n="_loginCastVoteHint_"></span><br>
    <span data-i18n="_loginCastBallotTracker_"></span>

</div>