<div class="content">

    <div class="content_box">

        <div class="audit_box">

            <div style="float: right;">
                <b><u><a style="text-align: left;" data-i18n="_auditButton_" ng-click="auditButton()"></a></u></b>
                <span data-i18n="_auditButtonLabel_"></span></div>
            <br>

            <div ng-show="auditClick">

                <span class="audit_content" data-i18n="_auditMoreInfoOne_"></span> <br>

                <button style="text-align: center" data-i18n="_verifyButton_" ng-click="verifyButton()"></button>
            </div>

        </div>

        <h3 data-i18n="_reviewBallotHeading_"></h3>

        <div>

            <p>Question: {{ experimentData.question_data.question }}</p>
            <p>Choice: {{ choice }}</p>

        </div>

        <span data-i18n="_ballotTrackerHeading_"></span>
        <span><b>{{ ballot_tracker }}</b></span>
        <span><a href="" ng-click="printButton()">print</a></span>
        <span data-i18n="_ballotTrackerFollow_"></span><br>

        <span data-i18n="_clickSubmitHint_"></span>

        <div>
            <button style="float: left;" data-i18n="_editResponsesButton_" ng-click="backToElectionButton()"></button>
        </div>
        <div>
            <button style="float: right;" data-i18n="_submitVoteButton_" ng-click="submitVoteButton()"></button>
        </div>
    </div>
</div>