<div class="content">

    <div class="content_box">

        <h3 data-i18n="_reviewBallotHeading_"></h3>

        <div>

            <p>Question: {{ experimentData.question_data.question }}</p>
            <p>Choice: {{ choice }}</p>

        </div>

        <div data-i18n="_ballotTrackerHeading_"></div>
        <p><b>{{ ballot_tracker }}</b></p>
        <p><a href="" ng-click="printButton()">print</a></p>
        <div data-i18n="_ballotTrackerFollow_"></div>

        <div data-i18n="_clickSubmitHint_"></div>

        <div class="audit_box">

            <div style="float: right;">
                <button data-i18n="_auditButton_" ng-click="auditButton()"></button>
                <span data-i18n="_auditButtonLabel_"></span></div>
            <br>

            <div ng-show="auditClick" style="float: right;">

                <span data-i18n="_auditMoreInfoOne_"></span>

                <button data-i18n="_verifyButton_" ng-click="verifyButton()"></button>
            </div>

        </div>

        <div>
            <button style="float: left;" data-i18n="_editResponsesButton_" ng-click="backToElectionButton()"></button>
        </div>
        <div>
            <button style="float: right;" data-i18n="_submitVoteButton_" ng-click="submitVoteButton()"></button>
        </div>
    </div>
</div>