<div ng-include src="'/static/helios_smartphone/partials/header.html'"></div>

<div class="content">

    <div class="content_box">

        <form>

            <b><span class="ballot_question">Question: {{ experimentData.question_data.question }}</span></b><br/>

            <span class="ballot_number">Please choose {{ experimentData.question_data.answers }} answer(s).</span>

            <div ng-repeat="(code, option, description) in options">

                <input type="checkbox" ng-click="saveChoice(code, option)">
                <label>{{ option }} </label>
                <hr/>

            </div>
            <input type="checkbox" ng-click="saveChoice(code, option)">
            <label>Empty vote </label>
            <div align="center">
                <button class="login_button" data-i18n="_proceedButton_" ng-click="proceedButton()"></button>
            </div>

        </form>

    </div>
</div>