<div ng-include src="'/static/helios_smartphone/partials/header.html'"></div>

<div class="content_box" style="max-width: 600px">

    <h3 style="margin-top: 0" data-i18n="_verificationHeading_"></h3>

    <div style="line-height: 2em">

        <div data-i18n="_verificationQrCode_"></div>
        <div data-i18n="_reviewBallotVerificationExplanation_"></div>
        <div style="text-align: center; margin: 2em 2em;">

            <qrcode version="12" error-correction-level="M" size="200" data=" {{ ballot }}"></qrcode>
            <br>

        </div>

        <span data-i18n="_verificationInstruction_"></span>
        <span style="text-decoration: underline; font-weight: bold" data-i18n="_verificationInstruction2_"></span>
        <span data-i18n="_verificationInstruction3_"></span><br>
        <span data-i18n="_verificationInstructionsAppEnd_"></span>
        <span style="text-decoration: underline; font-weight: bold" data-i18n="_verificationInstructionsAppEnd2_"></span>.
    </div>
</div>