<div ng-include src="'/static/helios_smartphone/partials/header.html'"></div>

<div class="content_box" style="width: 600px">

    <h3 data-i18n="_verificationHeading_"></h3>

    <div data-i18n="_verificationQrCode_"></div>
    <div style="margin-top: 1em" data-i18n="_verificationInstruction_"></div>

    <div style="text-align: center; margin: 2em 2em;">

        <qrcode version="12" error-correction-level="M" size="200" data=" {{ ballot }}"></qrcode>
        <br>

    </div>

    <span data-i18n="_verificationInstructionsApp_"></span>

    <span data-i18n="_verificationInstructionsAppEnd_"></span><br>

    <button style="float: right; margin-top: 1em" data-i18n="_closeButton_" ng-click="closeAudit()"></button>

</div>