<div ng-include src="'/static/helios_smartphone/partials/header.html'"></div>

<div class="content_box">

    <h3 data-i18n="_verificationHeading_"></h3>

    <span data-i18n="_verificationQrCode_"></span><br>
    <span data-i18n="_verificationInstruction_"></span><br>

    <div style="text-align: center; margin: 2em 2em;">

        <qrcode version="12" error-correction-level="M" size="200" data=" {{ ballot }}"></qrcode>
        <br>

    </div>

     <span data-i18n="_verificationInstructionsApp_"></span><br>

    <button style="float: right; margin-top: 1em" data-i18n="_closeButton_" ng-click="closeAudit()"></button>

</div>