<div ng-include src="'/static/helios_smartphone/partials/header.html'"></div>

<div class="content_box">

    <h2 style="margin: 0; text-align: center" data-i18n="_welcomeToElection_"></h2>

    <p style="font-size: 14pt;" data-i18n="_instructionsInfo_"></p>
    <p style="font-size: 14pt; margin-top: 1em" data-i18n="_boothIntroduction_"></p>

    <ol>
        <li style="font-size: 14pt;"><span style="font-weight: bold" data-i18n="_firstInfo_"></span><span
                data-i18n="_firstMoreInfo_"></span></li>


        <li style="font-size: 14pt; margin-top: 1em;"><span style="font-weight: bold"
                                                            data-i18n="_secondInfo_"></span><span
                data-i18n="_secondMoreInfo_"></span></li>


        <li style="font-size: 14pt; margin-top: 1em;"><span style="font-weight: bold"
                                                            data-i18n="_thirdInfo_"></span><span
                data-i18n="_thirdMoreInfo_"></span></li>


        <li style="font-size: 14pt; margin-top: 1em;"><span style="font-weight: bold"
                                                            data-i18n="_fourthInfo_"></span><span
                data-i18n="_fourthMoreInfo_"></span></li>
    </ol>

    <p><span style="font-size: 14pt" data-i18n="_introductionStart0_"></span><span style="font-size: 14pt; font-weight: bold"
                                                                                   data-i18n="_startButton_"></span><span
            style="font-size: 14pt" data-i18n="_introductionStart1_"></span></p>
    <button style="float: right" data-i18n="_startButton_" ng-click="startButton()"></button>

</div>
