<div ng-include src="'/static/helios_smartphone/partials/header.html'"></div>

<div class="content">

    <div class="content_box">

        <p data-i18n="_boothIntroduction_">
        <p>

        <ol>
            <li><b><span data-i18n="_selectHeading_"></span></b><span data-i18n="_selectFollow_"></span><br/>
                <span style="font-size: 14pt;" data-i18n="_selectMoreInfo_"></span></li>
            <br/>

            <li><b><span data-i18n="_reviewHeading_"></span></b><span data-i18n="_reviewFollow_"></span><br/>
                <span style="font-size: 14pt;" data-i18n="_reviewMoreInfo_"></span></li>
            <br/>

            <li><b><span data-i18n="_SubmitHeading_"></span></b><span data-i18n="_submitFollow_"></span><br/>
                <span style="font-size: 14pt;" data-i18n="_submitMoreInfo_"></span></li>
        </ol>

        <div align="center">
            <button style="float: right" data-i18n="_startButton_" ng-click="startButton()"></button>
        </div>

    </div>
</div>
