<div ng-include src="'/static/helios_smartphone/partials/header.html'"></div>

<div class="content_box">

    <div class="qr_box">
        <div class="check_code">
            <p data-i18n="_reviewBallotCheckCodeHeading_"></p>
            <p style="font-weight: bold">{{ ballot_tracker }}</p>
            <qrcode version="11" error-correction-level="H" size="200" data="{{ ballot_tracker }}"></qrcode>
            <br>
            <div style="font-size: 8pt; font-weight: normal; margin: 1em 0;" data-i18n="_qrExplanation_"></div>
        </div>
    </div>


    <div style="line-height: 2em; margin-top: 2em">
        <span style="margin-top: 0; " data-i18n="_reviewBallotDescription_"></span><br>
        <span data-i18n="_reviewBallotCheckCodeExplanation_"></span>
        <span style="text-decoration: underline; font-weight: bold"
              data-i18n="_reviewBallotCheckCodeExplanation2_"></span>
        <span data-i18n="_reviewBallotCheckCodeExplanation3_"></span>


        <span data-i18n="_reviewBallotCheckCodeExplanation4_"></span>
        <span style="text-decoration: underline; font-weight: bold"
              data-i18n="_reviewBallotCheckCodeExplanation5_"></span>,
        <span data-i18n="_reviewBallotCheckCodeExplanation6_"></span>

        <p style="margin-top: 0" data-i18n="_reviewBallotVerificationExplanation_"></p></div>

    <div style="text-align: center">

        <button style="float: left;" data-i18n="_editResponsesButton_" ng-click="backToElectionButton()"></button>

        <button data-i18n="_verifyButton_" ng-click="verifyButton()"></button>

        <button style="float: right;" data-i18n="_submitVoteButton_" ng-click="submitVoteButton()"></button>
    </div>
</div>
